# Convex
# Convex deployment name
CONVEX_DEPLOYMENT=
# Convex deployment URL (required)
VITE_CONVEX_URL=

# Better Auth
BETTER_AUTH_URL=http://localhost:3000
# Generer avec : pnpm dlx @better-auth/cli secret
BETTER_AUTH_SECRET=

# Sanity CMS (creer un projet sur https://sanity.io)
VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2026-05-01
